<div>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="btn-group">
    <a href="/login" class="btn btn-warning " role="button" aria-pressed="true">Login</a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Registrarse
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a class="dropdown-item" href="/register-student">Estudiante</a>
      <a class="dropdown-item" href="/register-teacher">Docente</a>
      <a class="dropdown-item" href="/register-public-server">Servidor publico</a>
      <a class="dropdown-item" href="/register-football-school-u">Escuela de futbol UPTC</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/register-company">Empresa</a>
      <a class="dropdown-item" href="/register-education-entity">Entidad de educación</a>
      <a class="dropdown-item" href="/register-particular">Particular</a>
      <a class="dropdown-item" href="/register-sport-school">Escuela de Formación deportiva</a>
      </div>
    </div>
    </div>
    </nav>
</div>

